/* Event_Form.css */

.edit-event-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;

  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  textarea,
  select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 15px;
  }
  
  .notification {
    color: green;
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    font-size: 16px;
    cursor: pointer;
    color: blue;
  }
  
  

  