.container {
    width: 100%;
    max-width: 800px; 
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 20px auto; 
    padding-bottom: 30px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .header .text {
    font-size: 22px;
    font-weight: bold;
    color: #333;
  }
  
  .header .underline {
    width: 300px;
    height: 3px;
    background-color: #646cff;
    margin: 8px 0;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input {
    display: flex;
    flex-direction: column;
  }
  
  .input label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
  }
  
  .input input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
    color: #333;
  }
  
  
  .input select {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    background-color: #f9f9f9; 
    color: #333; 
  }
  
  .submit-container {
    display: flex;
    justify-content: center;
  }
  
  .submit {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #646cff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
  }
  
  .submit:hover {
    background-color: #747bff;
  }
  
  div {
    text-align: center;
    color: #555;
    font-size: 16px;
  }